# Flutter/Dart/Pub related
**/build/
**/.dart_tool/
**/.packages
**/pubspec.lock

# Android related
**/android/.gradle/
**/android/build/
**/android/app/build/
**/android/local.properties
**/android/key.properties
*.jks
*.keystore

# iOS related
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# IDE related
**/.idea/
**/.vscode/
**/*.iml
**/*.ipr
**/*.iws

# OS related
**/.DS_Store
**/Thumbs.db

# Temporary files
**/temp/
**/tmp/